<div class="banner-second banner-img banner-agence"  style="background-image:  linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= asset_path("Header.jpg") %> ');" >
  <div class="banner-second-content">
    <h1>Des processus poussés</br>
        pour chacun de vos projets</h1>
        <p>De la conception à la publication</p>
  </div>
  <div class="banner-padded"></div>
  <div class="banner-bottom">
  </div>
</div>
<div class="container our-journal-agence">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-4">
        <div class="card card-agence first-image" style="background-image:url('<%= asset_path("Brand-content.jpg") %> ');" >
          <p>Brand Content</p>
          <div class="padded"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-agence second-image" style="background-image:url('<%= asset_path("Web-mobile.jpg") %> ');" >
          <p>Web Mobile</p>
          <div class="padded"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-agence third-image" style="background-image:url('<%= asset_path("Web-marketing.jpg") %> ');" >
          <p>Web Marketing</p>
          <div class="padded"   id="logo-change"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>


<div class="container our-agency-page">
  <div class="row">
    <div class="col-md-12">
    <h3><span>/</span>Notre méthode</h3>
    <div class="padded-little"></div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis natoque.</p>
    </div>
  </div>
</div>


<div class="padded"></div>


<div class="banner-mid-page banner-mid-img banner-agence text-center" style="background-image:url('<%= asset_path("donne.jpg") %> ');" >
    <button type="button" class="more-button-5">Voir ce que ça donne</button>
    <div class="padded-little"></div>
</div>

<div class="padded"></div>

<div class="container our-agency-page">
  <div class="row">
    <div class="col-md-12">
    <h3><span>/</span>Notre philosophie</h3>
    <div class="padded-little"></div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis natoque.</p>
    </div>
    <div class="centred-button">
        <%= link_to "NOS CONNAISSANCES", pages_agence_path, class: "more-button-3" %>
    </div>
  </div>
</div>

<div class="padded"></div>


<div class="container our-insta">
  <div class="row">
  <div class="col-md-11">
  <% @data.each_with_index do |a, i| %>
  <% break if i == 6 %>
    <div class="col-md-4 text-center instagram-pic">
    <% image = a["images"]["standard_resolution"]["url"] %>
    <%= image_tag image %>
    </div>
  <% end %>
  </div>
    <div class="col-md-1 left-word-inclined">
    <h3><span>/</span>La vie à bord</h3>
    </div>
  </div>
</div>

<div class="padded-little"></div>

<div class="centred-button">
    <%= link_to "https://www.instagram.com/tribord_digital/" do %>
      <i class="fa fa-instagram" style="font-size: 32px;color:black;"></i>
    <% end %>
</div>

<div class="padded"></div>


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center techno-title">
      <h3>Technologies utilisées</h3>
    </div>
    <div class="padded"></div>
    <div class="col-md-12 techno-wrapper">
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "HTML5.png" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "css3.png" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "invision.png" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "wordpress.png" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "rails.png" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="img-techno">
          <%= image_tag "grunt.png" %>
        </div>
      </div>
    </div>
    <div class="col-md-12 techno-wrapper-b">
      <div class="col-md-3">
        <div class="img-techno">
          <%= image_tag "amazon.png" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img-techno">
          <%= image_tag "mysql.png" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img-techno">
          <%= image_tag "balsamiq.png" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="img-techno">
          <%= image_tag "Autodesk.svg" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 card-agence-bot">
    <div class="menu-img-1" style="background-image: url('<%= asset_path("Works.jpg") %> ');">
    <%= link_to pages_works_path do %>
    <div style="padding-top: 10em;"></div>
    <p>JOURNAL</p>
    </div>
    </div>
    <% end %>
    <div class="col-md-6 card-agence-bot">
    <div class="menu-img-2" style="background-image: url('<%= asset_path("Journal.jpg") %> ');">
    <%= link_to root_path do %>
    <div style="padding-top: 10em;"></div>
    <p>HOME</p>
    </div>
    </div>
    <% end %>
  </div>
</div>

<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 newsletter-wrapper">
    <h3>Inscrivez-vous à notre newsletter</h3>
    <div class="padded-little"></div>
    <div class="newsletter-f">
      <%= simple_form_for @info do |f| %>
        <%= f.input :email, placeholder: 'john@doe.com', label: 'none' %>
        <%= f.button :submit, 'Envoyer' %>
      <% end %>
    </div>
    </div>
  </div>
</div>


<div class="padded"></div>
