<div class="padded" id="logo-change"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 contact-form">
        <%= simple_form_for @info do |f| %>
        <div class="form-line">
        <div class="form-line-1 formed">
        <p><span>Je suis</span><%= f.input :first_name, placeholder: 'prénom', label: 'none'%></p>
        </div>
        <div class="form-line-2 formed">
        <p><span>Je voudrais discuter d'un</span><%= f.input :project, placeholder: 'projet', label: 'none' %></p>
        </div>
        <div class="form-line-3 formed">
        <p><span>pour l'entreprise</span><%= f.input :entreprise, placeholder: "nom de l'entreprise", label: 'none' %></p>
        </div>
        <div class="form-line-4 formed">
        <p><span>Vous pouvez me joindre sur le mail</span><%= f.input :email, placeholder: "adresse mail", label: 'none' %></p>
        </div>
        <div class="form-line-5 formed" style="justify-content: flex-start;">
        <p><span>ou vous pouvez me rappeler au</span><%= f.input :phone, placeholder: "numéro de téléphone", label: 'none' %></p>
        </div>
        <div class="submit-button">
        <%= f.button :submit, 'Envoyer', class:"more-button-2" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="padded" style="border-bottom: 3px solid orange;"></div>
<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
    <div class="contact-case">
      <h3>TELEPHONE</h3>
      <p>06.36.34.61.39</p>
    </div>
    <div class="contact-case">
      <h3>MAIL</h3>
      <p>contact@triborddigital.com</p>
    </div>
    <div class="contact-case">
      <h3>ADRESSE</h3>
      <p>26 boulevard de la république</p>
      <p>92100 Boulogne Billancourt</p>
    </div>
    </div>
    <div class="menu-info-c market-i" style="justify-content: center;width: 100%;">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      </div>
  </div>
</div>

<div class="padded"></div>

<div class="container our-contact">
  <div class="row">
  <div class="col-xs-12">
    <div class="col-md-1 left-word-inclined">
    <h3><span>/</span>Localisation</h3>
    </div>
    <div class="col-md-11">
    <%= image_tag "Maps.jpg" %>
    </div>
  </div>
  </div>
</div>

<div class="padded"></div>

<% content_for(:after_js) do %>
<script type="text/javascript">
    $(document).ready(function () {
    $('.logo-white').toggleClass('hidden');
    $('.logo-black').toggleClass('hidden');
    $('#burger-navbar').toggleClass('blacked-burger');

    });
</script>
<% end %>
