<div class="banner image_bg">
  <%= render 'shared/video_bg' %>
  <div class="banner-content">
    <h1>Nous transformons</br> vos reves en pixels</h1>
    <p>BRANDING <i class="fa fa-circle" aria-hidden="true"></i> WEB <i class="fa fa-circle" aria-hidden="true"></i> WEB MARKETING</p>
  </div>
  <div class="banner-padded"></div>
  <div class="banner-bottom">
    <i class="fa fa-long-arrow-down" id="go-who-are-ya"></i>
  </div>
</div>

<div class="padded" id="logo-change"></div>

<div class="container who-are-ya">
  <div class="row">
    <div class="col-xs-12">
    <h3>Nous sommes</br> les artisans de vos</br> contenus numériques<i class="fa fa-circle orange-dot" aria-hidden="true"></i></h3>
    <div class="padded-little"></div>
    <p>Tribord Digital is a tight-knit team of designers, developers, writers, and strategists. For over a decade, we’ve helped businesses to craft honest, emotional experiences through strategy, brand development, graphic design, web design, and storytelling.</p>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="container our-work">
  <div class="row">
  <div class="col-xs-12">
    <div class="col-md-1 left-word-inclined">
    <h3><span>/</span>Nos Travaux</h3>
    </div>
    <div class="col-md-4 center-img-on-it">
    <%= image_tag "agence-img.jpg" %>
    </div>
    <div class="col-md-7 right-big-img">
    <%= image_tag "Graphisme-agence.jpg" %>
    <div class="padded-little"></div>
    <button type="button" class="more-button">Plus de travaux</button>
    </div>
  </div>
  </div>
</div>

<div class="padded"></div>
<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center sentence">Nous croyons en la créativité, nous respirons le branding et nous encapsulons l’ensemble dans de la technologie<i class="fa fa-circle orange-dot" aria-hidden="true"></i></div>
  </div>
</div>

<div class="padded"></div>

<div class="container our-agency">
  <div class="row">
    <div class="col-md-8 a-left-img" >
    <%= image_tag "Agence.jpeg" %>
    </div>
    <div class="col-md-4 right-word">
    <h3><span>/</span>L'agence</h3>
    <div class="padded-little"></div>
    <p>The future of shipping will be silent and emission free.</p>
    <%= link_to "Découvrez l'agence", pages_agence_path, class: "more-button-2" %>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="container our-journal">
  <div class="row">
    <div class="col-xs-12">
    <h3><span>/</span>Journal</h3>
    <% @articles.limit(3).each do |article|  %>
      <div class="col-md-4">
        <div class="card">
          <div class="img-card-up">
          <%= cl_image_tag article.photo %>
          </div>
          <div class="bottom-body">
            <div class="card-date">
            <%= article.user.first_name.capitalize %> / <%= article.created_at.strftime('%b %d, %Y') %>
            </div>
            <div class="card-title">
            <%= article.title %>
            </div>
            <div class="card-description">
            <%= article.content %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="centred-button">
  <button type="button" class="more-button-3">Plus d'articles</button>
  </div>
</div>

<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center client-title">
      <h3>Nos clients</h3>
    </div>
    <div class="col-md-12 client-wrapper">
    <div class="img-client">
    <%= image_tag "Kephren.png" %>
    </div>
    <div class="img-client">
    <%= image_tag "Marcus.png" %>
    </div>
    <div class="img-client">
    <%= image_tag "elledivorce.png" %>
    </div>
    <div class="img-client">
    <%= image_tag "Woww.png" %>
    </div>
    </div>
    <div class="col-md-12 client-wrapper-b">
    <div class="img-client">
    <%= image_tag "Studio.png" %>
    </div>
    <div class="img-client">
    <%= image_tag "Aures.png" %>
    </div>
    <div class="img-client">
    <%= image_tag "TVCATS.png" %>
    </div>
    </div>
  </div>
</div>


<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 newsletter-wrapper">
    <h3>Inscrivez-vous à notre newsletter</h3>
    <div class="padded-little"></div>
    <div class="newsletter-f">
      <%= simple_form_for @info do |f| %>
        <%= f.input :email, placeholder: 'user@domain.com', label: 'none' %>
        <%= f.button :submit, 'Envoyer' %>
      <% end %>
    </div>
    </div>
  </div>
</div>


<div class="padded"></div>







